<body>
  <label for="date">Event date:</label><br>
<form class="" action="/set" method="post">
  <input type="date" id="date" name="date"><br>
  <label for="date">1 period</label><br>
  <input type="text" name="1" id="1" placeholder="eg. 8:00-8:55"><br>
  <label for="date">2 period</label><br>
  <input type="text" name="2" id="2" placeholder="eg. 8:00-8:55"><br>
  <label for="date">3 period</label><br>
  <input type="text" name="3" id="3" placeholder="eg. 8:00-8:55"><br>
  <label for="date">4A period</label><br>
  <input type="text" name="4A" id="4A" placeholder="eg. 8:00-8:55"><br>
  <label for="date">5 period</label><br>
  <input type="text" name="5" id="5" placeholder="eg. 8:00-8:55"><br>
  <label for="date">6 period</label><br>
  <input type="text" name="6" id="6" placeholder="eg. 8:00-8:55"><br>
  <label for="date">7 period</label><br>
  <input type="text" name="7" id="7" placeholder="eg. 8:00-8:55"><br>
  <label for="date">Number of lunches</label><br>
  <input type="number" name="Lunches" min="1" max="2"><br>
  <label for="date">1st Lunch</label><br>
  <input type="text" name="1st Lunch" id="1st Lunch" placeholder="eg. 8:00-8:55"><br>
  <label for="date">2nd Lunch(if needed)</label><br>
  <input type="text" name="2nd Lunch" id="2nd Lunch" placeholder="eg. 8:00-8:55"><br>
  <label for="date">4B(if needed)</label><br>
  <input type="text" name="4B" id="4B" placeholder="eg. 8:00-8:55"><br>
  <input type="submit" name="submit" value="submit">
</form>



</body>
